html, body {
    overflow: hidden;
    font-family: "Silkscreen", sans-serif;

    background-color: lightblue;
    background-image: 
    url('images/krill.svg');
    background-position: center;
    background-size: 
    90px 65px;
    background-repeat: repeat;
}

p {
    font-size: 20px;
    /* color: #333; */
}


a {
    text-decoration: none;
}

span {
    color:orangered;
}

/* NAVBAR */
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;;
}

.navbar ul li a{

    display: inline-block;
    font-size: 1.5vw;
    font-weight: 400;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}
.navbar ul li a:hover {
    color: #007BFF;
    transform: translateY(-5px);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(240, 248, 255, 0.918);
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.256);
    
}

/* CONTENT */
.content {
    
}

.content-section {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 80px;
    max-width: 80vw;
    max-height: 70vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ;
    padding: 20px;
}

.content-section.active {
    opacity: 1;
    pointer-events: auto;
}


/* HOME */
#home {
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    /* background-color: rosybrown; */
    width: 70vw;
}

#home h1 {
    text-align: center;
    font-size: 50px;
}

#home p {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.wave-animate span {
    display: inline-block;
    animation: floatWave 1.7s ease-in-out infinite;
}

@keyframes floatWave {
    0%, 100% { transform: translateY(0); }
    50%      { transform: translateY(-15px); }
}

/* SHRIMP FACE */
.shrimp-face {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #ffcccb;
    border-radius: 50%;
}

.eyes {
    position: relative;
    top: 50px;
    justify-content: center;
    display: flex;
}

.eyes .eye {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 0 10px;
    display: block;
}

.eyes .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
}

@keyframes blink {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0.1); }
    100% { transform: scaleY(1); }
}

.eyes .eye.blink {
    animation: blink 0.2s ease;
}


/* ABOUT */


#about {
    /* background-color: #333; */
    /* padding: 50px; */
}

#about button {
    font-family: "Silkscreen", sans-serif;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 9px #999;
    transition: background-color 0.3s;
}
#about button:hover {
    background-color: #0056b3;
}

#about button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin-bottom: 20px;
}



/* List the skills and programs in a row */
.list-row {
    display: flex;
    gap: 45px;
}

/* WORK */
#work {

    /* max-width: 80vw; */
    /* background-color: #666; */
    /* overflow-x: hidden; */
}

#work h2 {
    font-size: 1.2vw;
}

/* Projects */
.projects {
    margin-left: 30px;
}


/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 20px;
    padding: 20px;
}

.sketches {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.gallery img:hover {
    cursor: zoom-in;
}


.gallery img.zoomed {
    cursor: zoom-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 1000;
    display: block;
    background-color: lightblue;
    padding: 100vw;
    object-fit: contain;
}

/* CONTACT */

#contact {
    /* background-color: #666; */
    /* width: 100%; */
}

#contact h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #333; */
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}


#contact h4 {
    font-size: 2vw;
    color: #ffffff00;
}



/* FOOTER */
footer {
    font-size: 1.0vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: rgb(58, 58, 58);
    width: 100%;

}


/* SEPARATOR (EXTRA) */
hr {
    border-top: 2px dotted #ccc;
    margin: 20px 0;
    width: 100%;
}